@mixin beat {
  .work__images {
    justify-content: center;

    .img {
      @include img(fit);
      max-width: calc(40% - #{$lem * 4});
      margin: $lem * 2;
    }
  }

  @include beat--tablet;
  @include beat--portrait;
  @include beat--mobile;
}
