@mixin info--mobile {
  @include mobile {
    width: 100%;

    .info__links {
      justify-content: center;
      margin: $lem * 4 0 0;
    }

    .info__bio {
      p {
        &.hello,
        &.statement {
          display: none;
        }

        &.contact {
          margin: 0;
          background: transparent;
          color: transparent;
        }
      }
    }
  }
}
