@mixin work--themes {
  .work__images {
    .img {
      @include img(fit);
      
      max-width: calc(25% - #{$lem * 5});
      margin: $lem;
      padding: $lem;

      box-shadow: $lem $lem $black;
      transform: rotateX(5deg) rotateZ(-5deg);
      transform-style: preserve-3d;

      &--15 {
        display: none;
      }
    }
  }
}
