@mixin smuff {
  .work__images {
    justify-content: center;

    // Safari hack
    -webkit-perspective: 10000px;
    flex-direction: column;
    align-items: center;

    .img {
      @include img(fluid);
      width: auto;

      mix-blend-mode: difference;

      border: 1px solid;
      box-shadow: $lem $lem $black;

      margin: $lem * 2;
      transform: perspective( $lem * 15) rotateY(15deg) rotateZ(-5deg);

      &--5 {
        position: relative;
        margin-top: -40em;
      }

      &--6 {
        position: relative;
        margin-top: -80em;
      }
    }
  }

  @include smuff--laptop;
  @include smuff--portrait;
  @include smuff--mobile;
}
