@mixin menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;

  padding: $lem * 2 $lem * 3;
  width: calc(100% - #{$lem * 3 * 2});


  display: none;

  &__item {
    padding: $lem * 2;
    @include colors(black-on-white);

    &--active,
    &:hover {
      @include colors(white-on-black);
    }
  }
}
