@mixin contact {
  display: flex;
  justify-content: center;

  width: 100%;
  position: fixed;
  bottom: $lem;

  .link {
    @include link(black-on-white, black-on-white, black-on-white);
    @include text-style(title);
  }
}
