@mixin work--beat {
  .work__images {
    justify-content: center;

    .img {
      max-width: calc(50% - #{$lem * 2});
      margin: $lem;

      transform: perspective(600px) skew(10deg);
      box-shadow: $lem $lem $black;
    }
  }
}
