@mixin themes--mobile {
  @include mobile {
    .work__images {
      .img {
        width: calc(50% - #{$lem * 2});
        margin: $lem / 2;
        padding: $lem / 2;

        @include themes--hidden;
      }
    }
  }
}
