@mixin beat--portrait {
  @include portrait {
    .work__images {
      margin-top: $lem * 2;

      .img {
        width: calc(90% - #{$lem * 4});
        mix-blend-mode: multiply;
        border: 1px solid;

        &:nth-of-type(n + 2) {
          position: relative;
          margin-top: -80vh;
        }
      }
    }
  }
}
