@mixin info__bio {
  padding: 0 $lem;
  max-width: 80%; // FIX link overflow

  p {
    &:nth-of-type(1) {
      @include text-style(large-1);
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      @include text-style(large-2);
    }

    + p {
      margin-top: $lem / 4;
    }
  }

  .link {
    @include link(white-on-black, white-on-black, white-on-black);
    text-decoration: none;
    line-height: 1.15; // Looks ok when displayed in two lines
  }

  @include info__bio--mobile;
}
