@mixin info__bio {
  @include text-style(large);

  padding: 0 $lem;
  max-width: 80%; // FIX link overflow

  p + p {
    margin-top: $lem / 4;
  }

  .link {
    @include link(white-on-black, white-on-black, white-on-black);
    text-decoration: none;
    line-height: 1.15;
  }

  @include info__bio--landscape;
  @include info__bio--mobile;
}
