@mixin info__bio {
  width: 100%;
  display: flex;
  flex-direction: column;

  p {
    &.hello {
      @include colors(black-on-white);
      box-shadow: $lem $lem $black;
      border: 1px solid;

      @include scale(large-1);

      margin: $lem;
      padding: $lem / 2;
      width: $lem * 6;
      height: $lem * 6;

      position: relative;
      z-index: 1;
    }


    &.contact {
      display: table;
      padding: $lem / 4;


      .link {
        @include link(blue-on-white, blue-on-white, blue-on-white);
        text-decoration: none;
      }
    }
  }
}
