@mixin icons {
  display: flex;
  justify-content: center;

  width: 80%;
  margin: 100vh auto 0;

  @include portrait {
    margin-top: 50vh;
  }

  .cube {
    @include cube(black-on-transparent, $lem * 14, $lem * 4);

    position: relative;
    margin-left: $lem * 10;
    margin-top: -$lem * 10;
  }
}
