@mixin icons {
  position: relative;
  margin-left: $lem * 30;
  margin-top: -$lem * 15;

  @include portrait {
    margin-left: $lem * 15;
    margin-top: -$lem * 30;
  }

  .cube {
    @include cube(black-on-transparent, $lem * 8, $lem * 3);
  }
}
