@mixin info {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__bio {
    @include info__bio;
  }

  &__links {
    @include info__links;
  }

  @include info--mobile;
}
