@mixin info {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__bio {
    @include text-style(body-text);
    @include scale(large-6);

    padding: $lem;

    .link {
      @include link(white-on-black, white-on-black, white-on-black);
      text-decoration: none;
    }
  }

  &__contact {
    @include colors(white-on-black);

    padding: $lem;
    margin: $lem;

    .link {
      @include text-style(title);
      @include link(white-on-black, white-on-black, white-on-black);
      text-decoration: none;
    }
  }
}
