@mixin info-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  +.info-link {
    margin-left: $lem * 2;
  }

  &__arrows {
    @include info-link__arrows;
  }

  &__description {
    @include info-link__description;
  }

  .link {
    @include link(white-on-black, white-on-black, white-on-black);
  }

  .flip {
    @include text-style(metamn);
    @include link-with-fliptext;
  }
}
