@mixin info-link {
  display: flex;
  align-items: center;

  +.info-link {
    margin-left: $lem * 2;
  }

  &__arrows {
    @include info-link__arrows;
  }

  .link {
    @include link(black-on-white, black-on-white, black-on-white);
  }

  .flip {
    @include text-style(metamn);
    @include link-with-fliptext;
  }
}
