@mixin work {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding: $lem * 2;


  .img {
    @include img;
  }

  .themes {
    max-width: 384px;
    padding: $lem;

    box-shadow: $lem / 2 $lem / 2 $black;
    transform: rotateX(25deg) rotateZ(-25deg);
    transform-style: preserve-3d;

    &--15 {
      display: none;
    }
  }

  .inu {
    max-width: 50%;
    display: none;
  }

  .smuff {
    display: none;
    margin: $lem * 2;
    transform: perspective( $lem * 10) rotateY(15deg) rotateZ(-5deg);

    &--1 {
      margin-top: 62vh;
    }

    &--5 {
      position: relative;
      top:-40em;
    }

    &--6 {
      position: relative;
      top:-80em;
    }
  }
}
