@mixin info__links {
  width: 50%;
  @include mobile {
    width: 100%;
    justify-content: center;
  }

  display: flex;
  justify-content: flex-end;
  margin: $lem 0;

  .link {
    @include link(black-on-white, black-on-white, black-on-white);
    @include scale(large-1);

    + .link {
      margin-left: $lem / 2;
    }
  }

  .flip {
    @include link-with-fliptext;

    &__span {
      &::before {
        @include colors(white-on-black);
      }
    }
  }
}
