@mixin info__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: $lem 0;

  .link {
    @include link(white-on-black, white-on-black, white-on-black);

    + .link {
      margin-left: $lem / 2;
    }
  }

  .flip {
    @include text-style(metamn);
    @include link-with-fliptext;
  }
}
